<h2>Login</h2>
<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" formControlName="username" placeholder="Enter your email"> 
            @if ( loginForm.get('username')?.touched && loginForm.get('username')?.invalid) {
                <div class="error">Email is required</div>
            }    
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your password">
            @if ( loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
                <div class="error">password is required</div>
            } 
            <div class="error">{{error}}</div>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
</div>