<nav class="first-nav">
    <a routerLink="employees-list" routerLinkActive="active">All Employess</a>
    <a routerLink="add-employees" routerLinkActive="active">Add Employee</a>
    <a routerLink="bank-list" routerLinkActive="active">Bank List</a>
    <a routerLink="add-bank" routerLinkActive="active">Add Branch</a>
</nav>
<hr>

<nav class="second-nav">
    <a routerLink="employees-list" routerLinkActive="active">All Employess</a>
    <a routerLink="add-employees" routerLinkActive="active">Add Employee</a>
    <a routerLink="bank-list" routerLinkActive="active">Bank List</a>
    <a routerLink="add-bank" routerLinkActive="active">Add Bank</a>
</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>