<h2>Change your password</h2>
<div class="container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="current">Current Password</label>
            <input type="password" id="current" formControlName="currentPassword" placeholder="Enter current password">
            @if(passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched){
                <div class="error">Current Password is required</div>
            }                
            <div class="error">{{errorMessageForCurrent}}</div>
        </div>
        <div class="form-group">
            <label for="new">New Password</label>
            <input type="password" id="new" formControlName="newPassword" name="new" placeholder="Enter new password">
            @if(passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched){ 
                <div class="error">Password is required</div>
            }  
            @if(passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched){              
                <div class="error">Password must be at least 6 characters long</div>
            }    
            <div class="error">{{errorMessageForNew}}</div>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input type="password" id="confirm" formControlName="confirmPassword" name="new" placeholder="Enter new password again">
            @if(passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched){
                <div class="error">Password is required</div>
            }
            @if(passwordForm.get('confirmPassword')?.hasError('minlength') && passwordForm.get('confirmPassword')?.touched){    
                <div class="error">Password must be at least 6 characters long</div>
            }    
            <div class="error">{{errorMessageForConfirm}}</div>
        </div>
        <div class="button">
            <button type="submit">Update</button>
        </div>
    </form>
</div>
<div><p>{{successMessage}}</p></div>   
