.container{
    width: 99%;
    box-shadow: 4px 4px 8px 0 rgb(0, 0, 0, 0.2);
}

.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #444;
    padding-bottom: 25px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;  
}

th{
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}
td{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
tr:nth-child(even){
     background-color: #f9f9f9;
} 
tr:hover{
    background-color: #f2f2f2;
}
.dropdown{
    margin-bottom: 20px;
}
select{
    width: 200px;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
} 
button{
  margin-right: 10px;
  width: 70px;
  padding: 7px 9px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
} 
#view{
    background-color: #4caf50;
    color: #fff;
} 
#view:hover{
    background-color: #245c39;
}
#update{
    background-color: #e3db46;
    color: #fff;
} 
#update:hover{
    background-color: #9c9739;
}
#delete{
    background-color: #d11d1d;
    color: #fff;
}
#delete:hover{
    background-color: #9d3939;
}
.approved {
    color: green;
    font-weight: bold;
}
.check {
    color: red;
    font-weight: bold;
}
    
    
    
    @media screen and (max-width: 768px) {
    
    }
