<h2>Add new Employee to the bank</h2>
<div class="container">
    <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" placeholder="Enter full name of employee"> 
        </div>
        @if (addEmployeeForm.get('name')?.touched && addEmployeeForm.get('name')?.invalid) {
            <div class="error">Full name is required</div>
        }
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" placeholder="Enter your email"> 
        </div>
        @if (addEmployeeForm.get('email')?.touched && addEmployeeForm.get('email')?.hasError('required')) {
            <div class="error">Email is required</div>
        }
        @if (addEmployeeForm.get('email')?.touched && addEmployeeForm.get('email')?.hasError('email')) {
            <div class="error">Enter valid email</div>
        }
        @if (errorMessage) {
            <div class="error">
                {{errorMessage}}
            </div>
        }    
        <div class="form-group">
            <label for="job">Job</label>
            <input type="text" id="job" formControlName="job" placeholder="Enter job of employee"> 
        </div>
        @if (addEmployeeForm.get('job')?.touched && addEmployeeForm.get('job')?.invalid) {
            <div class="error">Job is required</div>
        }
        <div formGroupName="bank" class="form-group">
            <label for="bank">Bank</label>
            <select formControlName="id" id="bank">
                <option value="" disabled selected>Select Bank</option>
                @for (bank of banks; track bank.id) {
                    <option [value]="bank.id">{{bank.branchName}}</option>
                }
            </select>
            @if (addEmployeeForm.get('job')?.touched && addEmployeeForm.get('job')?.invalid) {
                <div class="error">Please select bank</div>
            }
        </div>
        <div class="form-group">
            <button type="submit">Add</button>
        </div>
    </form>    
</div>
<div><p>{{successMessage}}</p></div>
